/**
 * Notes
 */

@-webkit-keyframes targe3-note {
  from { background: #fffff0; }
  50% { background: #ffffd3; }
  to { background: #fffff0; }
}

ul.notes {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  .timeline-icon {
    float: left;
  }

  .timeline-content {
    margin-left: 55px;

    &.timeline-content-form {
      @media (max-width: $screen-sm-max) {
        margin-left: 0;
      }
    }
  }

  .note-created-ago,
  .note-updated-at {
    white-space: nowrap;
  }

  .system-note {
    font-size: 14px;
    padding: 0;
    clear: both;

    &.timeline-entry::after {
      clear: none;
    }

    .system-note-message {
      display: inline-block;

      &::first-letter {
        text-transform: lowercase;
      }

      a {
        color: $gl-link-color;
        text-decoration: none;
      }

      p {
        display: inline-block;
        margin: 0;

        &::first-letter {
          text-transform: lowercase;
        }
      }
    }

    .timeline-content {
      padding: 14px 10px;
    }

    .note-body {
      overflow: hidden;

      .system-note-commit-list-toggler {
        display: none;
        padding: 10px 0 0;
        cursor: pointer;

        &:hover {
          color: $gl-link-color;
          text-decoration: underline;
        }
      }

      .note-text {
        & p:first-child {
          display: none;
        }

        &.system-note-commit-list {
          max-height: 63px;
          overflow: hidden;
          display: block;

          ul {
            margin: 3px 0 3px 15px !important;

            li {
              font-family: $monospace_font;
              font-size: 12px;
            }
          }

          p:first-child {
            display: none;
          }

          p:last-child {
            a {
              color: $gl-text-color;

              &:hover {
                color: $gl-link-color;
              }
            }
          }

          &::after {
            content: '';
            width: 100%;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 50px;
            background: linear-gradient(rgba($gray-light, .3) 0, $white-light);
          }

          &.hide-shade {
            max-height: 100%;
            overflow: auto;

            &::after {
              display: none;
              background: transparent;
            }
          }
        }
      }
    }

    .timeline-icon {
      display: none;

      .avatar {
        visibility: hidden;

        .discussion-body & {
          visibility: visible;
        }
      }
    }
  }

  .discussion-body {
    padding-top: 15px;
  }

  .discussion {
    overflow: hidden;
    display: block;
    position: relative;
  }

  .note {
    display: block;
    position: relative;
    border-bottom: 1px solid $table-border-gray;

    &.note-discussion {
      &.timeline-entry {
        padding: 14px 10px;
      }
    }

    &.is-editting {
      .note-header,
      .note-text,
      .edited-text {
        display: none;
      }

      .note-edit-form {
        display: block;

        &.current-note-edit-form + .note-awards {
          display: none;
        }
      }
    }

    .note-body {
      overflow: auto;

      .note-text {
        overflow: auto;
        word-wrap: break-word;
        @include md-typography;
        // Reset ul style types since we're nested inside a ul already
        @include bulleted-list;
        ul.task-list {
          ul:not(.task-list) {
            padding-left: 1.3em;
          }
        }
      }
    }

    .note-awards {
      .js-awards-block {
        padding: 2px;
        margin-top: 10px;
      }
    }

    .note-header {
      padding-bottom: 3px;
      padding-right: 20px;

      @media (min-width: $screen-sm-min) {
        padding-right: 0;
      }

      @media (max-width: $screen-xs-min) {
        .inline {
          display: block;
        }
      }
    }

    .note-emoji-button {
      .fa-spinner {
        display: none;
      }

      &.is-loading {
        .fa-smile-o {
          display: none;
        }

        .fa-spinner {
          display: inline-block;
        }
      }
    }

  }
}

.page-sidebar-pinned.right-sidebar-expanded {
  @media (max-width: $screen-lg-min) {
    .note-header {
      .note-headline-light {
        display: block;
      }

      .note-actions {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

// Diff code in discussion view
.discussion-body .diff-file {
  .file-title {
    cursor: default;

    &:hover {
      background-color: $gray-light;
    }
  }

  .diff-header > span {
    margin-right: 10px;
  }

  .line_content {
    white-space: pre-wrap;
  }
}

.diff-file .notes_holder {
  font-family: $regular_font;

  td {
    border: 1px solid $table-border-gray;
    border-left: none;

    &.notes_line {
      vertical-align: middle;
      text-align: center;
      padding: 10px 0;
      background: $background-color;
      color: $text-color;
    }

    &.notes_line2 {
      text-align: center;
      padding: 10px 0;
      border-left: 1px solid #ddd !important;
    }

    &.notes_content {
      background-color: $background-color;
      border-width: 1px 0;
      padding: 0;
      vertical-align: top;
      white-space: normal;

      &.parallel {
        border-width: 1px;
      }

      .notes {
        background-color: $white-light;
      }

      a code {
        top: 0;
        margin-right: 0;
      }
    }
  }
}

.discussion-header,
.note-header {
  position: relative;

  a {
    color: inherit;

    &:hover {
      color: $gl-link-color;
      text-decoration: none;
    }
  }

  .author_link {
    color: $gl-gray;
  }
}

.discussion-header {
  font-size: 14px;
}

.note-headline-light,
.discussion-headline-light {
  color: $notes-light-color;
}

.discussion-headline-light {
  a {
    color: $gl-link-color;
  }
}

/**
 * Actions for Discussions/Notes
 */

.discussion-actions,
.note-actions {
  float: right;
  margin-left: 10px;
  color: $notes-action-color;
}

.note-actions {
  position: absolute;
  right: 0;
  top: 0;

  .note-action-button {
    margin-left: 10px;
  }

  @media (min-width: $screen-sm-min) {
    position: relative;
  }
}

.discussion-actions {
  @media (max-width: $screen-md-max) {
    float: none;
    margin-left: 0;

    .note-action-button {
      margin-left: 0;
    }
  }
}

.note-action-button {
  display: inline-block;
  margin-left: 0;
  line-height: 20px;

  @media (min-width: $screen-sm-min) {
    margin-left: 10px;
    line-height: 24px;
  }

  .fa {
    color: $notes-action-color;
    position: relative;
    top: 1px;
    font-size: 17px;
  }

  &:hover {
    .danger-highlight {
      color: $gl-text-red;
    }

    .link-highlight {
      color: $gl-link-color;
    }
  }
}

.discussion-toggle-button {
  line-height: 20px;
  font-size: 13px;

  .fa {
    margin-right: 3px;
    font-size: 10px;
    line-height: 18px;
    vertical-align: top;
  }
}

.note-role {
  position: relative;
  top: -2px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  color: $notes-role-color;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid $notes-role-border-color;
  border-radius: $border-radius-base;
}

.diff-file .note .note-actions {
  right: 0;
  top: 0;
}


/**
 * Line note button on the side of diffs
 */

.diff-file tr.line_holder {
  @mixin show-add-diff-note {
    display: inline-block;
  }

  .add-diff-note {
    margin-top: -4px;
    border-radius: 40px;
    background: #fff;
    padding: 4px;
    font-size: 16px;
    color: $gl-link-color;
    margin-left: -56px;
    position: absolute;
    z-index: 10;
    width: 32px;
    // "hide" it by default
    display: none;

    &:hover {
      background: $gl-info;
      color: #fff;
      @include show-add-diff-note;
    }
  }

  // "show" the icon also if we just hover somewhere over the line
  &:hover > td {
    .add-diff-note {
      @include show-add-diff-note;
    }
  }
}

.disabled-comment {
  margin-left: -$gl-padding-top;
  margin-right: -$gl-padding-top;
  background-color: $gray-light;
  border-radius: $border-radius-base;
  border: 1px solid $border-gray-normal;
  color: $note-disabled-comment-color;
  line-height: 200px;

  .disabled-comment-text {
    line-height: normal;
  }

  a {
    color: $gl-link-color;
  }
}

.line-resolve-all-container {
  .btn-group {
    margin-top: -1px;
    margin-left: -4px;
  }

  .discussion-next-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.line-resolve-all {
  display: inline-block;
  padding: 5px 10px;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;

  &.has-next-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .line-resolve-btn {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.line-resolve-text {
  vertical-align: middle;
}

.line-resolve-btn {
  display: inline-block;
  position: relative;
  top: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: 0;

  &.is-disabled {
    cursor: default;
  }

  &:not(.is-disabled):hover,
  &:not(.is-disabled):focus,
  &.is-active {
    color: $gl-text-green;

    svg path {
      fill: $gl-text-green;
    }
  }

  svg {
    position: relative;
    color: $notes-action-color;

    path {
      fill: $notes-action-color;
    }
  }
}

.discussion-next-btn {
  svg {
    margin: 0;

    path {
      fill: $gray-darkest;
    }
  }
}
